.app-wrapper {
    height: 100vh;
    background-color: gray;



    display: grid;
    grid-template-areas: "head" "c";
    grid-template-columns: 100%;
    grid-template-rows: 60px;
    grid-gap: 10px;

}
.header{
    grid-area: head;
}
.app-wrapper-content {
    grid-area: c;
}



